img {
    height: 35px;
    padding: 15px;
}

body {
    background-color: dodgerblue;
    text-align: center;
}

.formbox {
    margin: auto;
    background-color: white;
    width: 320px;
    padding: 40px;
}

form {
    display: block;
    text-align: left;
}

input,
button {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid gray;
    font-size: 20px;
}

input {
    width: 286px;
    height: 21px;
}

button {
    width: 320px;
    height: 60px;
    color: white;
    background-color: green;
}

a {
    color: grey;
}

.forgot {
    color: white;
}